* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
  font-family: 'Aileron-Reuglar';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Aileron-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Aileron-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Aileron-Light.otf') format('opentype');
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow: auto;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
::-webkit-scrollbar { 
    display: none; 
}
.ui-content {
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;     
    color: #495559;  
}
a.ui-link.ui-btn-left.ui-btn.ui-btn.ui-shadow.ui-corner-all, a.ui-link.ui-btn-right.ui-btn.ui-shadow.ui-corner-all
{
    border: none;
    background-color: transparent;
}
/*icons setting*/
.icon
{
    display: inline-block;
    background-position: center center;
    background-size: cover;
}
.icon-2x 
{
    width: 2em;
    height: 2em;
}
.icon-location
{
    background-image: url('../icon/location-dark.svg'); 
}
.icon-arrow-left
{
    background-image: url("../icon/icon-arrow-left.png");
}
.icon-arrow-left-g
{
    background-image: url("../icon/icon-arrow-left-g.png");
}

.icon-bars
{
    background-image: url("../icon/icon-bars-w.png");
}
.icon-bars-g
{
    background-image: url("../icon/icon-bars-g.png");
}
.icon-delete{
    background-image: url("../icon/icon-delete.svg");
}
/* Login page goes here */
.bg-wrap{
    background: url(../img/b1.png);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
}
#login_page
{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
#login_page .btn-block{
    color:white;
    width: 95%;
    margin: 0 2.5% 3vh 2.5%;
    font-size: 1.3em;
    line-height: 1.5em;
}
#login_page .ui-content{
    padding-top: 65px;
}
#login_page .btn-wrap{
    position: absolute;
    left: 0;
    bottom: 8vh;
    width: 100%;
}
#register_btn
{
    background-color: #F9564F;
}
#login_btn
{
    background-color: #00CFC1;
}
#register_page
{   
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
#register_page .ui-header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;    
    z-index: 20;
    background-color: transparent;
}

#register_page .ui-content{
    padding-top: 65px;
    color: #ffffff;
}
#register_fb_btn
{
    background-color: blue;
    margin-bottom: 2vh;
}

#register_google_btn
{
    color: white;
    background-color: red;
}
/* Registration page end */

/* Categories page goes here */
.main_content
{
    height:100%;
    padding: 10px 0;
}

.main_content .row a:first-child{
    color:  #035b67;
}
.main_content .row a:nth-child(2){
    color: #A21814;
}
.main_content .row a:nth-child(3){
    color: #3A8F7A;
}
.main_content .row a:nth-child(4){
    color: #A76A00;
}
.main_content .row a:last-child{
    color: #6d810c
}
.main_content a .list_item{
    height: 14vh;
    margin: 1vh 0;
    padding: 0;
    border: none;
    background-color: #FFFFFF;
}
.main_content a:first-child .list_item{
    margin-top: 0.5vh;
}
.main_content a:first-child .list_item:last-child{
    margin-bottom: 0;
}
.main_page_logo{
    height: auto;
    width: 50%;
    max-width: 10vh;
}

.vertical-middle
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);  /* Safari*/
}

.main_content .list_item p
{
    padding: 0;
    margin: 0;
    line-height: 3.6vh;
    font-size: 3vh
}

/* Categories page end*/

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

a{
    color:#fff;
    text-decoration: none;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.clear{
    clear: both;
}
.row{
    padding: 0 15px;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    background-color: transparent;
}
#map_page{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#map_page .ui-header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 20;
    background-color: rgba(143, 205, 190, 0.9);
}
#map_page .ui-header .ui-title{
    margin:0.6em 30% 0 30%;
    font-size:1.1em;
    line-height: 1.5em;
}
.map-wrap, .list-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 9.5vh;
    overflow: hidden;
}
.category-wrap, .detail-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
}
.filter-wrap{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top:9.5vh;
    overflow: hidden;
    z-index: 30;
    background-color: #FFF;
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}
.animated{
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
}
.map-wrap{
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.list-wrap{
     background-color: #fff;
    -webkit-overflow-scrolling: touch; 
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
}
.category-wrap{
    z-index: 10;
    background-color: rgba(240,240,240,0.98);
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}
.detail-wrap{
    z-index: 10;
    background-color: rgba(240,240,240,0.95);
     transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}
.category-wrap.slider-appear{
    transform: translate3d(0,70%,0);
    -webkit-transform: translate3d(0,70%,0);
}
.detail-wrap.slider-appear{
    transform: translate3d(0,70%,0);
    -webkit-transform: translate3d(0,70%,0);
}
.map-wrap.toggle{
     transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
.list-wrap.toggle{
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.category-wrap.toggle{
    transform: translate3d(0,-20%,0);
    -webkit-transform: translate3d(0,-20%,0);
}
.detail-wrap.toggle{
     transform: translate3d(0,-20%,0);
    -webkit-transform: translate3d(0,-20%,0);
}
.filter-wrap.toggle{
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.filter-wrap.right{
    transform: translate3d(100%,100%,0);
    -webkit-transform: translate3d(100%,100%,0);
}
.filter-wrap.right.toggle{
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
}
.detail-wrap .detail-timetable-wrap{
     transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.detail-wrap .detail-timetable-wrap.toggle{
     transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
.detail-wrap .detail-service-wrap{
     transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
}
.detail-wrap .detail-service-wrap.toggle{
     transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.filter-wrap .filter-details-wrap{
     transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.filter-wrap .filter-details-wrap.toggle{
     transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
.filter-wrap .filter-filters-wrap{
     transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
}
.filter-wrap .filter-filters-wrap.toggle{
     transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.fw-btn-wrap{
    width: 100%;
    margin: 0;
}
.fw-btn-wrap:after{
    clear: both;
}
.fw-btn-wrap button{
    float: left;
    position: relative;
    width: 50%;
    margin: 0;
    opacity: 0.75;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid #E5E5E5; 
    border-top: 1px solid #E5E5E5;
}
.fw-btn-wrap button:first-child{
    border-right: 1px solid #E5E5E5; 
}
.fw-btn-wrap button.active{
   border-bottom: 1px solid #FF6860; 
}
.detail-wrap .therapy-details{

}
.detail-wrap .detail-container, .category-wrap .category-container{
    position: relative;
    height: 80%;
    overflow: hidden;
}
.blank-block{
    position: relative;
    height: 10%;
    width: 100%;
}
.detail-container .therapy_details{
    padding: 15px 0;
}
.detail-container .therapy_details label{
    margin-bottom: 0.6em;
}

.detail-container .detail-inner-item{
    border-bottom: 1px solid #c6c6c6;
    padding: 10px;
}
.filter-wrap .filter-container{
    position: relative;
    height: 100%;
    
    overflow: hidden;
}
.inner-wrap-container{
    position: relative;
    width: 100%;
    height: 80%;
    max-height: 80%;
    overflow: hidden;
}
.filter-wrap .filter-inner-wrap, .detail-wrap .detail-inner-wrap{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 0;
}
.save-btn{
    position: absolute;
    margin:0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 0 !important;
    background-color: #00CFC1 !important;
    color: #fff !important;
}
/*trigger button for bottom wraps*/
.wrap-trigger-btn{
    position:relative;
    height: 48px;
    width: 48px !important;
    z-index: 30;
    margin: 0 auto;
    border-radius: 10px !important;
}
.detail-wrap-trigger{
    background-color: #FFC145;
    border:2px solid #FFC145;
}
.category-wrap-trigger{
    background-color: #3185FC !important;
    border:2px solid #3185FC;
}
.slick-slide span{
    position: absolute;
    top: 25px;
    width:96%;
    margin:0 auto;
    text-align: center;
}
#therapy_list{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch; 
}


div.row.therapy_list_item{
    padding: 10px 5px;
    border-bottom: 1px solid #d6d6d6;
}
.loading_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: rgba(242, 242, 242, 0.95);
    display: none;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(22, 22, 22, 0.7);
    display: none;
}
.search_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 50;
    background-color: rgba(242, 242, 242, 0.96);
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}
.search_wrap.appear{
    transform: translate3d(0,0,0);
    -webkit-transform:  translate3d(0,0,0);
    transition-duration:;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}
.search_wrap .search_input_wrap{
    margin-top: 25px;
    border-bottom: 1px solid #d6d6d6;
}
.search_content{
    position: absolute;
    width: 95%;
    margin: 0px 2.5%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border-radius: 0.5em;
}

#search_history_list {
    list-style-type: none;
    display: none;
    max-height: 100%;
    overflow: scroll;

    padding: 20px 10px 0px 10px;

}
#search_history_list li{
    padding: 10px 5px;
}
.search_content .timepicker_wrap{
    display: none;
    height: 70vh;
    padding: 20px 10px 0px 10px;

}
.arrow_wrap a{
    transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}
.arrow_wrap a.extend{
    width: 80%;
    padding: 0.5em 0.7em;
    margin: 0 auto 20px auto;
    border: 1px solid #333;
    border-radius: 0.325em;
}
#map {
    height: 87%;
    width: 100%;
    z-index: 1;
    display: block;
}

#detail_slider{
   /* display: none;*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 3;
}
/* bottom slider*/
#detail_slider::after{
    clear: both;
}

#category_slider{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #fff;
}
#category_slider .detail_content{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight: bold;
}
/* ui-header*/
.ui-page .ui-header{
    padding-top: 22.5px;
    height: 65px;
    color: #FFFFFF;
    background-color: rgba(143, 205, 190, 0.9);
}
.ui-page .ui-header .ui-btn-left, .ui-page .ui-header .ui-btn-right{
    margin: 3.5vh 0 0 0;
    height: 6vh;
    color: #fff;
}
.ui-page .ui-header .ui-btn-left .ui-btn, .ui-page .ui-header .ui-btn-right .ui-btn {
    height: 100%;
    color: #fff;
}
/*ui-footer*/

/*DivIcon*/
.leaflet-div-icon {
    background: transparent;
    border: none;
}
.leaflet-marker-icon .number{
    position: relative;
    top: -37px;
    font-size: 12px;
    width: 25px;
    text-align: center;
}
div.my-divIcon{
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
    margin-left: -50px;
    font-size: 1.2em;
    line-height: 1.4em;
    background-color: rgba(0, 207, 193, 0.9);
}
div.my-divIcon.active{
    color: #FFF;
    background-color: rgba(249, 86, 79, 0.9);
}
div.my-divIcon:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0%;
    margin-left:20px;
    width: 0;
    height: 0;
    border-top: solid 8px rgba(0, 207, 193, 0.9);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
div.my-divIcon.active:after{
    border-top: solid 8px rgba(249, 86, 79, 0.9);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
div.current-location-icon{
    border: 2px solid #d7d7d7;
    background-color: rgba(249, 86, 79, 0.9);
    border-radius: 50%;
    z-index: 350;
}
div.current-location-icon:after{
    content: '';
    position: absolute;
     top: 25px;
    left: 0%;
    margin-left:4px;
    width: 0;
    height: 0;
    border-top: solid 18px rgba(249, 86, 79, 0.9);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
.no-border {
    border:none;
    background-color: transparent;
    padding: 0;
}
.location_btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-sizing: border-box;
  font-size: 1em;
  line-height: inherit;
  color: #fff;
  border-radius: 0;
  float: left;
  border: none;
  outline: none;
}
.has-feedback .right-feedback .form-control {
    padding-right:  0;
    padding-right: 45px;
    height: 3em;
    line-height: 53em;
    font-size: 1.2em;
}
.form-control[readonly]{
    background: none;
}
.form-control-feedback {
    width: 42.5px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 0;
}
.form-control-feedback .icon{
    vertical-align: middle;
    text-align: center;
}
.register-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 50;
    /*background-color: rgba(242, 242, 242, 0.96);*/
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
}
.register-wrap.appear{
    transform: translate3d(0,0,0);
    -webkit-transform:  translate3d(0,0,0);
    transition-duration:;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
}

/*profile-setting-page*/
#profile_setting_page{
    font-size: 16px;
}
#profile_setting_page label{
    margin:0.5em 0;
}
.profile-setting-block{
    width: 90%;
    margin: 0 5%;
    background-color: #fff;
    border-radius: 3.75px;
   /* font-size: 16px;*/
}
.profile-setting-block .row{
    padding: 0;
    margin: 0 10px;
    border-bottom: 1px solid #d6d6d6;
}
.profile-setting-block .row:last-child{
    border-bottom: none;
}
.profile-setting-block .row *{
    padding: 0;
}
.profile-setting-block .row label{
    line-height: 2.2em;
    height: 2.2em;
    color: #A6A6A6;
}
.profile-setting-block .row input{
    padding: 0;
    text-align: right;
}

