/* css only for phones (tablet not included)*/

body{
    font-size: 14px;
}
.row{
	padding: 0 5px;
}
div[class^="col-xs-"]{
	padding-left: 5px;
	padding-right: 5px;
}
.ui-page .ui-header{
	padding-top: 3.5vh;
    height: 9.5vh;
}
div.wrap-header{
	padding-top: 3.5vh;
    height: 9.5vh;
}
.map-wrap, .list-wrap{
    padding-top: 9.5vh;
}
/*.detail-wrap .detail-container, .category-wrap .category-container{
	padding-top: 9.5vh; 
}*/
